 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi! I am a full-time student and aspiring software developer. I love video games, dogs, and object-oriented programming.</p>
                </div>
                <div class="col-lg-4">
                    <p>Feel free to contact me to see my resume, and enjoy your stay! Thanks for visiting.</p>
                </div>
            </div>
        </div>
    </section>
