 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a prospective masters student with a focus in software development. When I'm not writing code, I'm playing video games, hanging out with my dog, or cuddled up with a nice book.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have experience with conducting test-driven development and managing cloud services in C++ and C# using Microsoft products. Contact me for my resume or to learn more about me. Enjoy your stay :)</p>
                </div>
            </div>
        </div>
    </section>
